services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: yii_php
    working_dir: /var/www
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - ./:/var/www
    env_file:
      - .env
    depends_on:
      - db

  nginx:
    image: nginx:stable-alpine
    container_name: yii_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  db:
    image: mysql:8.0
    container_name: yii_db
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3307:3306" # внешний порт для хоста
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5
      start_period: 10s

volumes:
  dbdata: